/*-------- MAIN STUFF ----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #E7E7E5;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin: 0 auto;
    transition: .5s;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: Extra-bold;
    font-weight: 500;
    color: #000;
    font-size: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

p {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
}

nav a:link {
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
}

a:visited {
    color: white;
}

a:hover {
    color: #1C4D8C;
}

/**********************FONTS*****************************/

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-regular-webfont.woff") format("woff");
    src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Patua_one";
    src: url("../fonts/patuaone-regular-webfont.woff") format("woff");
    src: url("../fonts/patuaone-regular-webfont.woff2") format("woff2");
}

/**********************HEADER*****************************/

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    text-align: end;
    list-style-type: none;
    top: 90px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    overflow-x: hidden;
    transition: 1s;
}

#menu li {
    margin-top: 20px;
    cursor: pointer;
    font-size: 25px;
}

#menuknap {
    /*    background-image: url(/pics/burgermenu.svg);*/
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 15px;
    position: absolute;
    cursor: pointer;
}

#logo {
    display: none;
    font-size: 50px;
    width: 150px;
    height: 37.5px;
    margin: 10px 20px;
    background-image: url(../svg/tuborg-logo.svg);
    background-size: cover;
}

.hidden {
    transform: translateX(310px);
}

/***************POPUP*************/

#popup_info,
#popup_quiz,
#popup_infografik {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 77, 140, 0.55);
    display: none;
    z-index: 3;
}

#popup_info article,
#popup_infografik article {
    width: 90vw;
    height: 70vh;
    margin: 5vw;
    background-color: #E7E7E5;
    padding: 20px;
}

#popup_infografik article {
    width: 90vw;
    align-content: center;
    margin: 20 auto;
        height: 60vh;
}

#popup_quiz article {
    width: 90vw;
    height: 70vh;
    margin: 5vw;
    background-color: #E7E7E5;
    padding: 20px;
    overflow: scroll;
}

#luk_info,
#luk_quiz,
#luk_infografik {
    width: 30px;
    height: 30px;
    background-image: url(../pics/luk.png);
    border: none;
    background-size: cover;
    position: absolute;
    right: 10vw;
}

.pop_left {
    display: block;
    width: 100%;
    margin: 20px 20px 0 -15px;
}

.pop_right {
    display: ;
    justify-content: ;
    padding: 0 0px 0 0;
}

/********************BAGGRUNDSVIDEO**********************/


#baggrundsvideo {
    /*    background-color: aqua;*/
    width: 100vw;
    height: 240px;
}

video {
    width: 100vw;
    max-width: none;
    background-size: cover;
    background-position: 48% 100%;
}


#videotekst {
    text-align: center;
    padding-top: 50vh;
    color: white;
    font-weight: bold;
    visibility: hidden;
}

#gradient {
    width: 100vw;
    height: 28.5vh;
    background-image: linear-gradient(rgba(231, 231, 229, 0), #E7E7E5);
    z-index: 1;
    position: relative;
    top: -615px;
}


/**BUBBLES**/

#bubble-container {
    position: absolute;
    left: calc(50vw - 25px);
    width: 100px;
        top: 22.5vh;
    display: none;
}

#bubble-1 {
    position: absolute;
    top: 0;
}

#bubble-2 {
    position: absolute;
    top: 20px;
}

#bubble-3 {
    position: absolute;
    top: 55px;
}

#bubble-4 {
    position: absolute;
    top: 100px;
}


@keyframes bubble_kf {
    0% {
        transform: scale(.5);
    }


    100% {
        transform: scale(1.3);
    }

}

.bubble1 {
    animation-name: bubble_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-direction: alternate;


}

.bubble2 {
    animation-name: bubble_kf;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-direction: alternate;


}

.bubble3 {
    animation-name: bubble_kf;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-direction: alternate;


}

.bubble4 {
    animation-name: bubble_kf;
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-direction: alternate;


}



/****************VIDEN OM KAMPAGNEN****************/

#info {
    width: 100vw;
    height: 600px;
    /*    background-color: #F2C063;*/
    cursor: pointer;
    background-image: url(../pics/viden_om_kampagnen.jpg);
    background-size: cover;
}

#info_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.info_overlay_tekst {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 300px;
    visibility: show;
}

/**popup**/

#popup_info h1 {
    font-size: 50px;
    text-align: center;
    margin: 70px 0 70px;
    color: #1C4D8C;
}

#popup_info p {
    color: #1C4D8C;
    margin: 0 40px;

}

#dosetop {
    background-image: url(../pics/dosetop.png);
    background-size: cover;
    width: 203px;
    height: 200px;
    margin: 50px auto;
}

/****************QUIZ****************/

#quiz {
    /*    background-color: #8DB4B7;*/
    height: 300px;
    background-image: url(../pics/oeldose.png);
    background-size: cover;
    cursor: pointer;
}

#quiz_overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quiz_overlay_tekst {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    visibility: show;
}

/**popup-quiz**/


#popup_quiz h1 {
    color: #1C4D8C;
    text-align: center;
    font-size: 50px;
    margin-top: 70px;

}

#popup_quiz h2 {
    margin: 30px 0;
    color: #1C4D8C;
    text-align: center;
    font-weight: 100;
    font-family:
}

#popup_quiz button {
    display: block;
}

#popup_quiz button {
    background: #3456b5;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    color: white;
    border: none;
}

#popup_quiz .container {
    display: grid;
    justify-items: center;
    margin: 80px 10px 25px 10px;
}



@media screen and (min-width: 1200px) {
    #popup_quiz butt on {
        display: inline;
    }
}




/*key frame animatiomns*/

@keyframes shake_kf {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(0deg);
    }
}

.ryst {
    animation-name: shake_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: none;


}

/****************INFOGRAFIK****************/

#infografik {
    width: 100vw;
    height: 300px;
    /*    background-color: #F2C48D;*/
    background-image: url(../svg/graf.svg);
    background-size: cover;
    cursor: pointer;
}

#infografik_overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.infografik_overlay_tekst {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    visibility: show;
}

/**popup infografik**/

#barchart {
    max-width: 900px;
    margin-left: 10%;
    margin-top: 10px;
}

#chart line {
    stroke: #555;
    stroke-width: 1;
}

#chart text {
    font-size: 7px;
    font-family: "Montserrat";
}

#chart text:first-child {
    font-style: oblique;
    text-shadow: 0 0 blue;
}

.bars {
    stroke-width: 20;
    stroke: Blue;
    opacity: 0.75;
}

#kurve {
    stroke-width: 1.8;
    stroke: orange;
    fill: none;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: all 2.5s linear;
}

.pop_right #output {
display: flex;
    justify-content: center;
    margin: 25px 0 0 50px;
    font-family: "Patua_one";
    font-size: 1.4em;
}

.years text {
    text-shadow: 0 0 black;
    position: absolute;
    transform: skewY(-22deg);
}

/****************SOME****************/

#soMe {
    width: 100vw;
    height: 150px;
    background-color: #1C4D8C;
    /*    background-image: url(/pics/baggrund.jpg);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#fb {
    width: 80px;
    height: 80px;
    background-image: url(../svg/facebook.svg);
    background-size: cover;
}

#ig {
    width: 80px;
    height: 80px;
    background-image: url(../svg/instagram.svg);
    background-size: cover;
}

/*****************FOOTER************************/

footer #cirkusfod {
    background-image: url(../svg/footer.svg);
    background-size: cover;
    width: 300px;
    height: 108.9px;
    margin: 100px auto 50px;
}

/****************VIDEOPORTFOLIO******************/


#videoportfolio {
    display: flex;
    flex-direction: column;
}

#videoportfolio h1 {
    color: #1C4D8C;
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

#videoportfolio iframe {
    align-self: center;
}

#videoportfolio a {
    color: #1C4D8C;
}

#videoportfolio h2 {
    color: #1C4D8C;
    align-self: center;
    margin: 70px 0 0;
}

/********************MEDIAQUERIES*****************/


/*************IPAD***********/
@media(min-width: 768px) {

    /**INFOGRAF**/

    #popup_infografik article {
    width: 90vw;
    align-content: center;
    margin: 20 auto;
        height: 70vh;
}

        #luk_infografik {
    right: 10vw;
}
    /**TOP**/

    #baggrundsvideo {
    /*    background-color: aqua;*/
    width: 100vw;
    height: 600px;
}

    #menuknap {
        width: 90px;
        height: 90px;
    }

    #gradient {
        height: 28.5vh;
    }

    #bubble-container {
        top: 200px;
        display: block;

    }


    /**MAIN**/
    main {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(379px, 1fr));
        padding-top: 0px;
        /*        max-width: 768px;*/
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
    }

    #info {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 379px;
        height: 610px;
    }

    #quiz {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 379px;
    }

    #infografik {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 379px;
    }

    #soMe {
        grid-column: 1/3;
        grid-row: 3/4;
        width: 768px;
    }


}

/***********WEB MEDIUM***************/
@media(min-width: 1024px) {

        /**INFOGRAF**/

    #popup_infografik article {
    width: 80vw;
    align-content: center;
    margin: 5vw auto;
        height: 90vh;
}
            #luk_infografik {
    right: 20vw;
}

    /**MENU**/

    #baggrundsvideo {
    /*    background-color: aqua;*/
    width: 100vw;
    height: 780px;
}

    main {
       padding-top: 100px;
    }

    #menuknap {
        display: none;
    }

    #menu {
        flex-direction: row;
        transform: translateX(0);
        top: 20px;
    }

    #menu li {
        font-size: 16px;
        margin-top: 0px;
        padding: 0 10px;
    }

    #logo {
        display: block;
    }

    /**menu efter scroll**/

    .scrolling_aktiv {
        background-color: #1C4D8C;
        height: 60px;
        transition: .5s;
    }

    .scrolling_aktiv_a:hover {
        color: #8DB4B7;
    }

    /**splash**/

    #gradient {
        height: 28.5vh;
    }

    #bubble-container {
        top: 22.5vh;
        display: block;
    }

    /**POPUP**/

    #popup_info article,
    #popup_infografik article {
        height: 80vh;
    }

    #popup_quiz article {
        height: 676.59px;
    }

    #luk_info,
    #luk_quiz,
    #luk_infografik {
        right: 90px;
    }

    /**MAIN**/

    .info_overlay_tekst,
    .quiz_overlay_tekst,
    .infografik_overlay_tekst {
        visibility: hidden;
    }

    #info:hover,
    #quiz:hover,
    #infografik:hover {
        transform: scale(1.03);
    }

    #info_overlay,
    #quiz_overlay,
    #infografik_overlay {
        background-color: rgba(255, 255, 255, 0);
    }

    #info_overlay:hover,
    #quiz_overlay:hover,
    #infografik_overlay:hover {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    #info {
        height: 796px;
        width: 495px;
    }

    #quiz {
        width: 495px;
        height: 393px;
    }

    #infografik {
        width: 495px;
        height: 393px;
    }

    #soMe {
        width: 1000px;
    }

}

@media(min-width: 1300px) {
        main {
       padding-top: 200px;
    }

    #luk_info,
#luk_quiz,
#luk_infografik {
    right: 8vw;
}
}
        #luk_infografik {
    right: 12vw;
}
/************class til js************/
.visible {
    visibility: visible;
}

